.container {
    display: flex;
    height: 30px;
    line-height: 30px;
}

.container:nth-child(n + 2) {
    margin-left: 10px;
}

.container .axis {
    background-color: #1f1818;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container .input {
    text-align: center;
    background-color: grey;
    color: white;
    border: none;
    /* margin: 2px; */
    padding: 0;
    font-size: 18px;

    height: 30px;
    width: 70px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.container .input.noAxis {
    width: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container .normalInput {
}
.container .normalInput:focus {
    background-color: grey;
}

.container .draggableInput {
    cursor: col-resize;
}
