.wizard-container {
    position: absolute;
    background-color: black;

    height: 100%;
    width: 100%;
    opacity: .8;    
}


.wizard-container .wizard-step {
    position: absolute;
    visibility: hidden;
}


.wizard-container .wizard-step.visible {
    visibility: visible;
}



/* BEGIN UPLOAD CONFIRM */

.wizard-container .wizard-step.upload-confirm {
    background-color: #555454;

    top: 50%;
    left: 50%;

    height: 70%;
    width: 30%;

    transform: translate(-50%, -50%);
    border-radius: 20px;

    color: white;
}

.wizard-container .wizard-step.upload-confirm .button {
    background-color: #2b2b2b;

    width: 50px;
    height: 30px;

    border-radius: 5px;
    cursor: pointer;
}

.wizard-container .wizard-step.upload-confirm .button:hover {
    background-color: #121c1f59;
    box-shadow: 0px 0px 5px #353535;
}

/* END UPLOAD CONFIRM */



.wizard-container .wizard-step.place-attachpoints {
    background-color: red;
}

.wizard-container .wizard-step.adjust-transforms{
    background-color: aqua;
}