.wizard-wrapper {
    position: absolute;
    background-color: black;

    height: 100%;
    width: 100%;
    opacity: .8;    
}


.wizard-wrapper .wizard-step {
    background-color: red;
    position: absolute;
    visibility: hidden;

    top: 3%;
    height: 95%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
}


.wizard-wrapper .wizard-step.visible {
    visibility: visible;
}
