.wizard-container {
    position: absolute;
    background-color: black;

    height: 100%;
    width: 100%;
    opacity: .8;    
}


.wizard-container .wizard-step {
    position: absolute;
    visibility: hidden;

    top: 3%;
    height: 95%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
}


.wizard-container .wizard-step.visible {
    visibility: visible;
}

.wizard-container .wizard-step.upload-confirm {
    background-color: azure;
}

.wizard-container .wizard-step.place-attachpoints {
    background-color: red;
}

.wizard-container .wizard-step.adjust-transforms{
    background-color: aqua;
}