.placeAttachpoint {
    height: 90%;
    width: 90%;
}

.placeAttachpoint .previewCanvas {
    position: relative;
    width: 100%;
    height: 100%;
}

.placeAttachpoint .buttonsContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 20px;
    bottom: 20px;
}

.placeAttachpoint .buttonsContainer .button {
    font-size: 16px;
    width: 120px;
}

.placeAttachpoint .buttonsContainer .button:nth-child(n + 2) {
    margin-left: 10px;
}

.placeAttachpoint .title {
    position: absolute;
    top: 20px;
    left: 20px;
}

.placeAttachpoint .title h2 {
    margin: 0px;
    font-size: 35px;
    font-weight: bold;
}

.placeAttachpoint .info {
    position: absolute;
    left: 20px;
    bottom: 20px;

    color: grey;
}

.placeAttachpoint .info .infoTitle {
    font-weight: bold;
}
