.partTypes {
    position: relative;

    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    pointer-events: initial;
}

.partTypes .item {
    padding: 5px 10px;
    margin-bottom: 10px;
    /* margin-top:10px; */
    background-color: rgba(0, 0, 0);
    border-radius: 5px;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2;
    cursor: pointer;
    filter: opacity(0.7);
}

.partTypes .item:hover {
    background-color: rgba(0, 55, 39, 0.31);
}

.partTypes .item .name {
    text-align: center;
    color: #ffffff;
    font-size: 23px;
    font-family: 'Lato', 'Open Sans', sans-serif;
}

.partTypes .item.selected {
    background-color: #1da1f2;
}

.partTypes .item.disabled {
    opacity: 50%;
    cursor: not-allowed;
    pointer-events: none;
}

.partTypes::-webkit-scrollbar-track {
    background: none;
    /* margin-left: 10px; */
    /* margin-bottom: 10px; */
}
.partTypes::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: none;
}
.partTypes::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #2e2e2e;
}

@media (max-width: 950px) {
    .partTypes {
        flex-direction: row;
        overflow-x: scroll;
        justify-content: flex-start;
        width: 100%;
    }

    .partTypes .item {
        margin-bottom: 5px;
        margin-right: 10px;
        width: max-content;
    }

    .partTypes .item .name {
        font-size: 18px;
        white-space: nowrap;
    }
}
