body {
  margin: 0;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

canvas {
  z-index: -1;
  position: absolute;
  left: -20%;
}

/* ::-webkit-scrollbar-track {
  background: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
::-webkit-scrollbar {
  width: 4px;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  background: #2e2e2e;
} */
