.share {
    font-size: 25px;
    margin: 0px 5px;
    height: max-content;

    &:hover, &:focus {
        filter: brightness(1.2);
    }
}

.twitter,
.twitter:hover,
.twitter:focus{
    color: #1da1f2;
}

.facebook,
.facebook:hover,
.facebook:focus{
    color: #4267B2;
}

.pinterest,
.pinterest:hover,
.pinterest:focus{
    color: #BD081C;
}