.anti-scrollbar-box {
    /* height: 772px; */
    /* height: 100%; */
    overflow-y: scroll;
}

.selector-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.selector {
    position: relative;

    /* height: 100%; */

    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: repeat(auto-fill, 150px);
    justify-items: center;
    overflow-y: visible;
    overflow-x: hidden;

    margin: 10px 5px 0px 10px;
    padding-right: 5px;

    row-gap: 10px;
    column-gap: 10px;
}

.selector .selector-item {
    /* min-height: 150px; */
    height: 150px;
    width: 150px;
    border-radius: 5px;
    background-color: #00000059;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    /* margin-left:5px;
    margin-right:5px; */
}
.selector .selector-item.selected {
    border: 3px solid black;
}
.selector .selector-item.deleted {
    opacity: 0.2;
    cursor: not-allowed;
}

.selector .selector-item:hover {
    background-color: #121c1f59;
    box-shadow: 0px 0px 5px #353535;
}

.selector .selector-item .img {
    width: 100%;
    height: 80%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #767676;
}

.selector .selector-item .item-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    color: white;
    background-color: rgba(15, 15, 15, 1);
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    font-family: 'Lato', 'Open Sans', sans-serif;
}
.selector .selector-item.deleted .item-name {
    background-color: #ff0000;
}

.selector .selector-item .selector-item-menu {
    background-color: #ff0000;
    padding: 5px;
    cursor: pointer;
    color: white;
}

.import-button {
    background-color: #000000;
    filter: opacity(0.7);
    font-weight: bold;
    text-align: center;
    color: white;

    margin: 10px;
    padding: 10px;

    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    font-size: 18px;
    font-family: 'Lato', 'Open Sans', sans-serif;
}

.import-button:hover {
    background-color: #121c1f59;
    box-shadow: 2px 2px 5px #353535;
}

.selector::-webkit-scrollbar-track {
    background: none;
    /* margin-left: 2px; */
    /* margin-bottom: 10px; */
}
.selector::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: none;
}
.selector::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #2e2e2e;
}

@media (max-width: 1300px) {
    .selector {
        grid-template-columns: 100px 100px;
        grid-template-rows: repeat(auto-fill, 100px);
    }

    .selector .selector-item {
        height: 100px;
        width: 100px;
    }

    .selector .selector-item .item-name {
        height: 20px;
        line-height: 20px;
        font-size: 12px;
    }
}

@media (max-width: 950px) {
    .selector {
        /* height: 100px; */
        grid-template-columns: repeat(auto-fill, 100px);
        grid-template-rows: 100px;
        grid-auto-flow: column;
        overflow-y: hidden;
        overflow-x: scroll;

        margin: 10px 10px 0px 10px;
        padding-right: 0px;
        padding-bottom: 5px;

        column-gap: 10px;
        row-gap: unset;
    }

    .selector .selector-item {
        /* margin-right: 10px; */
    }

    .import-button {
        font-size: 14px;
    }
}
