.selector {
    position: relative;
    
    /* background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 20px #000000;
    
    border-radius: 20px;
    padding: 10px; */

    height: 100%;

    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(103px, 103px));
    justify-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Media queries for the number of columns in the selector */
/* @media (min-width: 1130px) {
    .selector {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1700px) {
    .selector {
        grid-template-columns: 1fr 1fr 1fr;
    }
} */

.selector .selector-item {
    min-height: 100px;
    max-height: 100px;
    min-width: 100px;
    max-width: 100px;
    /* display: inline; */
    border-radius: 10px;
    background-color: #00000059;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-left:5px;
    margin-right:5px;
}

.selector .selector-item:hover {
    background-color: #121c1f59;
    box-shadow: 0px 0px 5px #353535;
}

.selector .selector-item .img {
    padding: 2px;
}
  
.selector .selector-item .img img {
    display: block;
    margin: auto;
    max-width: 80px;
    max-height: 80px;
}


.selector .selector-item .item-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15px;
    color: white;
    background-color: rgba(15, 15, 15, 1);
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 10px;
}


.selector::-webkit-scrollbar-track {
    background: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.selector::-webkit-scrollbar {
    width: 5px;
    background: none;
}
.selector::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #2e2e2e;
}
