/* .app {
    background-color: coral;
} */

.editor-panel {
    position: absolute;
    right: 50px;

    top: 50%;
    transform: translateY(-50%);

    height: 85vh;


    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */

    /* background-color: blue; */
}