/* .app {
    background-color: coral;
} */

.editor-panel {
    position: absolute;
    right: 50px;

    top: 50%;
    transform: translateY(-50%);

    height: 85vh;


    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */

    /* background-color: blue; */
}

.editor-panel .groups-container {
    position: relative;
}

.editor-panel .selector-container {
    position: relative;
    
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 20px #000000;
    
    border-radius: 20px;
    padding: 10px;

    /* height: 100%; */
}
