.adjustTransforms {
    background-color: rgb(163, 107, 107);

    height: 90%;
    width: 90%;
}

.adjustTransforms .previewCanvas {
    position: relative;
    width: 100%;
    height: 100%;
}

.adjustTransforms .sideView {
    background-color: rgba(60, 60, 60, 0.3);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.adjustTransforms .sideView .inputsContainer {
    opacity: 0.8;

    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 20px;
}

.adjustTransforms .sideView .inputsContainer .inputGroup {
    margin-bottom: 20px;
}

.adjustTransforms .sideView .inputsContainer .inputGroup .axes {
    display: flex;
    justify-content: space-between;
}

.adjustTransforms
    .sideView
    .inputsContainer
    .inputGroup
    .axes
    .container:nth-child(n + 2) {
    margin-left: 10px;
}

.adjustTransforms .sideView .buttonsContainer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    left: 0;
    right: 20px;
    bottom: 20px;
}

.adjustTransforms .sideView .buttonsContainer .button {
    /* margin: 10px; */
    font-size: 16px;
    width: 120px;
}

.adjustTransforms .sideView .buttonsContainer .button:nth-child(n + 2) {
    margin-left: 10px;
}

.adjustTransforms .title {
    position: absolute;
    top: 20px;
    left: 20px;
}

.adjustTransforms .title h2 {
    font-size: 35px;
    font-weight: bold;
    margin: 0px;
}

.adjustTransforms .shortcutButtons {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.adjustTransforms .shortcutButtons .button {
    width: 150px;
    padding: 5px;
    margin: 5px 0px;
}
.adjustTransforms .shortcutButtons .scaleButton {
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adjustTransforms .shortcutButtons .inlineButton {
    display: block;
    /* height: 25px; */
    /* width: 25px; */
    /* padding: 5px; */
    margin: 5px;
    line-height: 10px;
}
