.wrapper {
    display: flex;
    align-items: center;
}

.line {
    background-color: #bbbbbb;
    border-radius: 1px;
    width: 100%;
    height: 1px;

    margin: 0 5px;
}

.text {
    color: #bbbbbb;
    font-style: italic;
}
