@import "./colors.scss";

.button {
    background-color: rgba($color: #000000, $alpha: .7);
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

    &.selected {
        background-color: $customizer-purple;
    }

    &:hover {
        background-color: #121c1f59;
        box-shadow: 2px 2px 5px #353535;
    }

    &:focus:not(.selected) {
        background-color: rgba($color: #000000, $alpha: .7);
        border: 1px solid $customizer-purple;
    }
}
