.app {
    position: relative;
    width: 100%;
    height: 100%;

    .canvasContainer {
        position: relative;
        width: 100%;
        height: 100%;
        
        canvas {
            position: relative;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .canvasOverlay {
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
    }

    .settingsBackdrop {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.9);
    
        display: flex;
        justify-content: center;
        align-items: center;
    }   
}


.gridContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 10px;

    display: grid;
    grid-template-areas:
        "a a a a a b"
        "a a a a a b"
        "a a a a a b"
        "c c c c c b";
    grid-template-rows: auto;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;

    pointer-events: none;
    & * {
        pointer-events: initial;
    }

    .header {
        grid-area: a;
        align-self: start;
        justify-self: start;
        margin: 10px 0 0 10px;

        padding: 20px;
    }


    .buttonsContainer {
        grid-area: c;
        align-self: end;
        justify-self: start;
    }

    .partTypes {
        grid-area: a;
        align-self: start;
        justify-self: end;

        overflow: hidden auto;
    }

    .selectorContainer {
        grid-area: b;
        background-color: rgba(0, 0, 0, 0.7);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        height: 100%;
        overflow: hidden;
    }

    .buttonsContainer2 {
        grid-area: c;

        align-self: end;
        justify-self: end;
        width: 180px;
    
        .downloadButton2 {
            width: 100%;
            margin: 0 0 0 0;
            font-weight: bold;
        }
    
        .mediaButtonsContainer {
            width: 100%;
            margin: 0 0 10px 0;
            height: 35px;
            display: flex;
            justify-content: space-between;
        
            .action {
                margin: 0 0 0 0;
                padding: 5px 10px 5px 10px;
            
                .count {
                    font-weight: initial;
                    font-size: initial;
                    margin: 0 0 0 10px;
                }
            }
        }
    }


    .createYourOwn {
        position: absolute;
        left: 50%;
        bottom: 40px;
        transform: translateX(-50%);
        color: #796FBC;

        .emphasised {
            font-weight: bold;
        }
    }
}

@media (max-width: 950px) {
    .gridContainer {
        grid-template-areas:
            "a a a a a a"
            ". . . b b b"
            "c c c c c c"
            "e e e e e e";

        grid-template-rows: max-content auto max-content max-content;
        grid-template-columns: auto;

        .partTypes {
            grid-area: c;
        }

        .selectorContainer {
            grid-area: e;
        }

        .header {
            grid-area: a;
        }

        .buttonsContainer {
            grid-area: b;
        }
        
        .buttonsContainer2 {
            grid-area: b;
        }

        .createYourOwn {
            bottom: 150px;
        }
    }
}


.commentsHeader {
    display: flex;
    border-bottom: 1px solid #fff;

    .commentsCloseButton {
        border-right: 1px solid white;
        background-color: unset;
        padding: 10px;
        margin: 0;
        width: 38px;
        font-size: 24px;
        line-height: 24px;
    }

    .commentsTitle {
        color: white;
        font-size: 18px !important;
        margin: 0px;
        padding: 10px;
    }
}
.commentsContainer {
    height: 100%;
    overflow-y: scroll;
}

.partTypesContainer::-webkit-scrollbar-track {
    background: none;
    // margin-left: 10px;
    /* margin-bottom: 10px; */
}
.partTypesContainer::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: none;
}
.partTypesContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #2e2e2e;
}
