.app {
    position: relative;
    width: 100%;
    height: 100%;

    .canvasContainer {
        position: relative;
        width: 100%;
        height: 100%;
        
        canvas {
            position: relative;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .canvasOverlay {
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
    }

    .settingsBackdrop {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.9);
    
        display: flex;
        justify-content: center;
        align-items: center;
    }   
}


.gridContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 10px;

    display: grid;
    grid-template-areas:
        "     header .  part-types selector"
        "          . .  part-types selector"
        "buttons-old . buttons-new selector";
    grid-template-rows: auto;
    grid-template-columns: 1fr max-content;
    grid-gap: 10px;

    @media (max-width: 950px) {
        grid-template-areas: 
            "     header"
            "buttons-old"
            "buttons-new"
            " part-types"
            "   selector";
        grid-template-rows: max-content auto auto max-content max-content;
        grid-template-columns: auto;
    }

    .header {
        grid-area: header;
        align-self: start;
        justify-self: start;
    }
    .partTypes {
        grid-area: part-types;
        align-self: start;
        justify-self: end;
        @media (max-width: 950px) {
            justify-self: start;
        }
    }
    .selectorContainer {
        grid-area: selector;
    }
    .buttonsContainer {
        grid-area: buttons-old;
        align-self: end;
        justify-self: start;

        @media (max-width: 950px) {
            justify-self: end;
        }
    }
    .buttonsContainer2 {
        grid-area: buttons-new;
        align-self: end;
        justify-self: end;
        @media (max-width: 950px) {
            align-self: start;
        }
    }

    pointer-events: none;
    & * {
        pointer-events: initial;
    }

}

.header {
    margin: 10px 0 0 10px;
    padding: 20px;
}

.partTypes {
    overflow: hidden auto;
}

.selectorContainer {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
}


.buttonsContainer2 {
    display: grid;
    grid-template-areas: 
        "a1 a2 a3"
        " b  b  b";
    grid-gap: 10px;

    @media (max-width: 950px) {
        display: flex;
        flex-flow: column;
    }

    .actionButton {
        margin: 0;
        padding: 5px 10px 5px 10px;

        .count {
            font-weight: initial;
            font-size: initial;
            margin: 0 0 0 10px;
        }

        &.like {
            grid-area: a1;
        }

        &.comment {
            grid-area: a2;
        }

        &.share {
            grid-area: a3;
        }

        &.downloadButton2 {
            grid-area: b;
            font-weight: bold;
            padding: 15px 10px 15px 10px;

            .word {

            }
            .icon {
                display: none;
            }

            @media (max-width: 950px) {
                .word {
                    display: none;
                }
                .icon {
                    display: initial;
                }
            }
        }
    }
}


.createYourOwn {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    color: #796FBC;

    .emphasised {
        font-weight: bold;
    }

    @media (max-width: 950px) {
        bottom: 150px;
    }
}

.commentsHeader {
    display: flex;
    border-bottom: 1px solid #fff;

    .commentsCloseButton {
        border-right: 1px solid white;
        background-color: unset;
        padding: 10px;
        margin: 0;
        width: 38px;
        font-size: 24px;
        line-height: 24px;
    }

    .commentsTitle {
        color: white;
        font-size: 18px !important;
        margin: 0px;
        padding: 10px;
    }
}
.commentsContainer {
    height: 100%;
    overflow-y: scroll;
}

.partTypesContainer::-webkit-scrollbar-track {
    background: none;
    // margin-left: 10px;
    /* margin-bottom: 10px; */
}
.partTypesContainer::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: none;
}
.partTypesContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #2e2e2e;
}
