.app {
    position: relative;
    width: 100%;
    height: 100%;

    .canvasContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        
        canvas {
            position: relative;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .canvasOverlay {
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
    }

    .settingsBackdrop {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.9);
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buttonsContainer {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }

    .createYourOwn {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        color: #796FBC;

        .emphasised {
            font-weight: bold;
        }
    }
}


.editorPanelContainer {
    /* Used only to center child vertically */
    right: 20px;
    top: 20px;
    bottom: 20px;
    /* width: 350px; */
    /* height: 100%; */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;

    pointer-events: none;

    .editorPanel {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .partTypesContainer {
            position: relative;
            height: 100%;

            .partTypes {
                position: relative;
                // margin-top: 10px;
                margin-right: 10px;
                height: 100%;
            }
            .controlButtons {
                position: absolute;
                bottom: 0;
                right: 0;
                margin-right: 10px;
                
                display: flex;
                pointer-events: initial;
                justify-content: space-around;
                width: 260px;
                .controlButton {
                    margin: 0;
                }
            }
        }


        .selectorContainer {
            position: relative;
            display: flex;
            flex-direction: column;
            max-width: 500px;
            background-color: rgba(0, 0, 0, 0.7);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            // filter:opacity(.7);
            height: 100%;
            justify-content: space-between;
            // min-width: 250px;
            pointer-events: initial;
        }
    }
}

.commentsHeader {
    display: flex;
    border-bottom: 1px solid #fff;

    .commentsCloseButton {
        border-right: 1px solid white;
        background-color: unset;
        padding: 10px;
        margin: 0;
        width: 38px;
        font-size: 24px;
        line-height: 24px;
    }

    .commentsTitle {
        color: white;
        font-size: 18px !important;
        margin: 0px;
        padding: 10px;
    }
}
.commentsContainer {
    height: 100%;
    overflow-y: scroll;
}

.partTypesContainer::-webkit-scrollbar-track {
    background: none;
    // margin-left: 10px;
    /* margin-bottom: 10px; */
}
.partTypesContainer::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: none;
}
.partTypesContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #2e2e2e;
}

@media (max-width: 950px) {
    .app {
        .buttonsContainer {
            left: unset;
            right: 10px;
            /* right: unset;
            left: 10px; */
            bottom: 255px;
        }

        .createYourOwn {
            display: none;
            // bottom: 140px;
        }
    }

    .editorPanelContainer {
        /* Used only to center child vertically */
        right: 0px;
        left: 0px;
        top: unset;
        bottom: 0px;
        height: unset;

        .editorPanel {
            flex-direction: column;
            align-items: flex-start;

            .partTypesContainer {
                margin-bottom: 5px;
                // margin-right: 0px;
                // margin-left: 10px;
                padding: 0px 10px;
                height: unset;
                width: 100%;
                // overflow-x: auto;
            }

            .selectorContainer {
                height: unset;
                width: 100%;
            }
        }
    }
}
