.container {
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.uploadButton {
    width: unset;
    
    font-weight: bold;
}
.uploadButton .triangle {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    margin: 0 5px;
}