.header {
    position: absolute;
    padding: 20px;
    font-family: 'Lato', 'Open Sans', sans-serif;

    .title {
        font-size: 50px;
        font-weight: 600;
        color: #796FBC;
        margin: 0 0 10px 0;
        font-family: 'Lato', 'Open Sans', sans-serif;

        .beta {
            margin-left: 5px;
            text-transform: lowercase;
            font-size: 12px;
        }

        .my {
            color: rgb(49, 184, 161);
        }
    }

    .userSection {
        // font-size: 1.3125rem;
        font-size: 18px;
        margin: 0px;
        font-family: 'Lato', 'Open Sans', sans-serif;
        
        .userPic {
            border-radius: 50%;
            border: 1px solid black;
            width: 50px;
            height: 50px;
        }

        .username {
            font-size: 30px;
            margin-left: 10px;
            vertical-align: middle;
            color: #796FBC;
        }
    }
}

@media (max-width: 1499px) {
    .header {
        
        .title {
            font-size: 37px;
        }

        .userSection {
            .userPic {
                width: 37px;
                height: 37px;
            }
    
            .username {
                font-size: 23px;
            }
        }
    }
}

@media (max-width: 950px) {
    .header {
        padding: 10px;

        .title {
            font-size: 25px;
        }

        .userSection {
            .userPic {
                width: 30px;
                height: 30px;
            }
    
            .username {
                font-size: 18px;
            }
        }
    }
}
