.wrapper {
    background-color: #767676;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
}

.description {
    font-style: italic;
    color: #bbbbbb;
    padding: 5px;
}

.main {
    background-color: #000000;
    font-weight: bold;
    font-size: 1px;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    filter: opacity(0.7)
}