@import "../../shared-styles/colors";

.dialog {
    width: 400px;
    color: #707070;
    margin: 0;
    padding: 20px;

    .title {
        font-weight: initial;
        font-size: 18px;
    }

    .section {
        padding: 15px 0 15px 0;

        .sectionTitle {
            font-size: 16px;
        }

        + .section {
            border-top: 1px solid #f2f2f2;
        }
    }

    h2, h3 {
        color: inherit;
    }
}

.linkUrl {
    position: relative;
    overflow: hidden;

    .linkUrlInput {
        background-color: initial !important;
        margin: 0;
        cursor: text;
    }
    .linkCopyButton {
        background-color: $customizer-purple;
        position: absolute;
        right: 0;
        top: 0;

        text-transform: uppercase;

        padding: 2px 10px 2px 10px;
        height: 100%;
    }
}


.closeButton{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border-radius: 50%;
    margin: 0;

    font-size: 20px;
    line-height: 20px;
    
    &, &:hover, &:focus {
        background-color: initial;
        color: black;
    }
}

.shareLinksList {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 0;
    
    .shareLinkListItem {
        border-radius: 50%;

    }
}

.shareLink {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 50px;

    &, &:hover, &:focus {
        background-color: initial;
        color: white;
    }

    &.facebook {
        background-color: #3a5a99;
    }

    &.twitter {
        background-color: #55acee;
    }

    &.reddit {
        background-color: #ff4500;
    }

    &.pinterest {
        background-color: #bd081c;
    }

    &.tumblr {
        background-color: #3b445c;
    }

    &.linkedin {
        background-color: #0077b5;
    }
}