/* --------------------------------------------------------
Style Sheet for the Buttons.js component

last modified: 07.09.2018
author: William Clot
email: contact@williamclot.com
website: https://github.com/williamclot

CONTENTS:
- buttons styling for buy, download and share on MyMiniFactory.com
----------------------------------------------------------*/

.buttons {
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 0px 0px 10px #000000;
	transition: background-color 0.2;
	height: 25px;
	padding: 0px 8px 0px 8px;
	text-align: center;
	border-radius: 0.5em;
	font-weight: bold;
	color: white;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	line-height: 25px;
	font-size: 11px;
	left: 30px;
	bottom: 30px;
	margin:0;
}
.buttons:hover {
	background-color: rgba(0, 55, 39, 0.51);
}

#buy {
	bottom: 70px;
}

#download {
	bottom: 110px;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
