/* --------------------------------------------------------
Style Sheet for the Category.js component

last modified: 07.09.2018
author: William Clot
email: contact@williamclot.com
website: https://github.com/williamclot

CONTENTS:
- category styling on the left side with the cercles and the svg
----------------------------------------------------------*/

.panel {
  background-color: rgba(255, 255, 255, 0);
  width: 25%;
  height: 100%;
}

.right-side {
  width: 80%;
  height: 100%;
}

.left-side {
  width: 20%;
  max-width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.category {
  z-index: 10;
  width: 100%;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  border: none;
  padding-top: 100%;
  box-shadow: 0px 0px 10px #000000;
  transition: background-color .2;
  transform: translateX(-30px);
  cursor: pointer;
}

.selected-category {
  background-color: rgba(34, 94, 71, 0.71);
}

.category:hover {
  background-color: rgba(0, 55, 39, 0.31);
}

.category img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: inherit;
  width: 100%;
}
