/* --------------------------------------------------------
Style Sheet for the Footer.js component

last modified: 07.09.2018
author: William Clot
email: contact@williamclot.com
website: https://github.com/williamclot

CONTENTS:
- licence styling
----------------------------------------------------------*/

.licence{
  bottom: 4px;
  width: 100%;
  text-align: center;
  font-size: 10px;
}
.a-licence > a{
  margin-left: 4px;
}

.licence a{
  color:inherit;
}