/* --------------------------------------------------------
Style Sheet for the Loader.js component

last modified: 07.09.2018
author: William Clot
email: contact@williamclot.com
website: https://github.com/williamclot

CONTENTS:
- Animations for the loaders (rotating mmf logo)
----------------------------------------------------------*/

.circle{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    top: calc( 50% - 50px );
    left: calc( 50% - 50px );
    background-color: white;
    padding: 10px;
    animation: scale 2.5s ease-in-out 0s infinite normal forwards;
}

.circle img{
    width: 100%;
    animation: rotation 2.5s ease-in-out 0s infinite normal forwards;
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}