/* --------------------------------------------------------
Style Sheet for the Logo.js component

last modified: 07.09.2018
author: William Clot
email: contact@williamclot.com
website: https://github.com/williamclot

CONTENTS:
- powered by myminifactory section
----------------------------------------------------------*/

.logo{
    top: 100px;
    left: 220px;
    cursor: pointer;
    z-index: 150;
}

.logo a {
    color: black;
}

.logo span{
    top: -15px;
    font-size: 11px;
}
.logo img {
    width: 120px;
}