.abs {
  position: absolute; }

.top {
  top: 0; }

.bottom {
  bottom: 0; }

.left {
  left: 0; }

.right {
  right: 0; }

.panel {
  width: 25%;
  height: calc(100% - 30px);
  padding: 30px; }

.right-side {
  width: 80%;
  height: 100%;
  overflow: visible;
}

.left-side {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.smartphone {
  background-color: white;
  width: 100%;
  height: 100%;
  color: black;
}
.fullScreenMessage {
  position: absolute;
  top: 60%;
  left: 50%;
  text-align: center;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 20px;
}

.smartphone img{
  width: 100px;
  position: absolute;
    top : 36%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}