/* --------------------------------------------------------
Style Sheet for the Name.js component

last modified: 07.09.2018
author: William Clot
email: contact@williamclot.com
website: https://github.com/williamclot

CONTENTS:
- Name of the product styling, MyMiniFactory (beta)
----------------------------------------------------------*/

.name {
  padding: 30px;
  font-size: 40px;
  font-weight: 600; }

.beta{
  margin-left: 5px;
  text-transform: lowercase;
  font-size: 12px;
}
.my{
  color: rgb(49, 184, 161);
}