/* --------------------------------------------------------
Style Sheet for the PostForm.js component

last modified: 07.09.2018
author: William Clot
email: contact@williamclot.com
website: https://github.com/williamclot

Needs redoing -- is very beta like...
----------------------------------------------------------- */

.logotopform{
    position: absolute;
    left:50%;
    top:10px;
}
.form{
    padding: 0px 30px 0px 30px;
    display: block;
}

.form p{
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
}

.nameinput{
    margin-top:2px;
    width: calc(100% - 10px);
    font-size: 18px;
    color: rgb(29, 29, 29);
	background-color: #00000059;
    border:none;
    padding: 5px;
    border-radius: 2px;
}

.title h2{
    text-align: center;
    padding-top: 50px; 
}
.submit-container{
    padding-top: 20px;
    width: 30%;
}
.submit-container .buttons{
    border:none;
    font-weight: 400;
}