.container {
    display: flex;
    align-items: flex-start;
    border-radius: unset;
}

.tutorial {
    margin-left: 15px;
}

.tutorial.hidden {
    display: none;
}

.uploadConfirm {
    background-color: rgba(76, 76, 76, 0.7);
    border-radius: 10px;
    color: white;
    padding: 20px;
}

.uploadConfirm h2 {
    color: white;
    font-family: 'Lato', 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 23px;
    margin: 0 0 20px 0;
}

.uploadConfirm .gridView {
    /* background-color: brown; */

    display: grid;
    grid-template-columns: [label-col] auto [view-col] 1fr;

    /* justify-items: stretch; */
    grid-gap: 10px;
}

.label {
    /* grid-column: label-col; */
    font-style: italic;

    font-weight: bold;
    text-align: right;
    align-self: center;

    font-size: 16px;
}

.label .questionMark {
    color: #4c4c4c;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    cursor: pointer;
    margin-left: 5px;
    line-height: 15px;
}

.label .previewInstructions {
    max-width: 160px;
    font-size: smaller;
    color: #a2a2a2;
}

.view {
    grid-column: view-col;
}

.view.input {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 0px 5px;
    margin: 0px;
    border-radius: 5px;
    font-size: 16px;
}
.view.input:focus {
    background-color: grey;
}

.previewContaier {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    width: 280px;
    height: 280px;
}

.previewContaier .canvas,
.img {
    width: 100%;
    height: 80%;
    object-fit: contain;
}

.previewContaier .canvasContainer {
    width: 100px;
    height: 80px;
}

.previewContaier .canvasTitle {
    background-color: rgba(15, 15, 15, 1);
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 80%;
    font-size: 25px;
    text-overflow: ellipsis;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
}

.buttonsContainer .button {
    font-size: 16px;
    width: 120px;
}

.buttonsContainer .button:nth-child(n + 2) {
    margin-left: 10px;
}

@media only screen and (max-height: 650px) {
    .container {
        height: 100%;
    }

    .tutorial {
        height: 100%;
    }
}
