.container {
    display: flex;
    align-items: center;

    border-radius: unset;
}

.tutorial {
    margin-left: 15px;
}
.tutorial.hidden {
    display: none;
}

.uploadConfirm {
    background-color: #4c4c4c;
    border-radius: 20px;

    /* width: 420px; */
    color: white;
    padding: 10px;
}

.uploadConfirm .gridView {
    /* background-color: brown; */

    display: grid;
    grid-template-columns: [label-col] auto [view-col] 1fr;
    
    /* justify-items: stretch; */
    grid-gap: 10px;
}

.label {
    grid-column: label-col;
    font-style: italic;

    font-weight: bold;
    text-align: right;
}

.label .questionMark {
    color: #4c4c4c;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    margin-left: 5px;
}

.label .previewInstructions {
    max-width: 160px;
    font-size: smaller;
    color: #a2a2a2;
}

.view {
    grid-column: view-col;
    border-radius: 10px;
    overflow: hidden;
}

.view.input {
    background-color: #777777;
    border-color: #777777;
    color: white;
    padding: 0px 5px;
}
.view.input:focus {
    background-color: grey;
}

.previewContaier {
    /* width: 350px;
    height: 350px; */
}

.previewContaier .canvas, .img {
    /* width: 250px;
    height: 200px; */

    width: 350px;
    height: 350px;
}

.previewContaier .canvasTitle {
    background-color: rgba(15, 15, 15, 1);
    text-align: center;
    line-height: 15px;
    padding: 10px;

    /* dunno why there is a 5px gap before it, so remove it */
    margin-top: -5px;
}

.buttonsContainer {
    
    display: flex;
    justify-content: center;
}

.buttonsContainer .button {

    width: 50%;
    margin: 10px;
}