.wrapper {
    background-color: rgba(0,0,0,0.4);
    /* border-color: #77777700; */
    display: flex;
    border-radius: 5px;
}

.filename {
    flex-grow: 1;
    padding: 5px;
    font-weight: 500;
}

.xButton{
    display: flex;
    align-items: center
}

.xButton:before {
    background-color: #000;
    content: 'x';
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 17px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    filter: opacity(0.7);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    margin-right: 5px;
}